<div class="form-container">
  <div class="form-header">
    <h1>Create User</h1>
  </div>
  <div class="create-form">
    <h1>Hi there!<h1>
    <%= render partial: 'user_form', locals: {password: true} %>
  </div>
</div>
