h1 {
  font-family: 'PT Sans', sans-serif;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}

p {
  font-family: 'PT Serif', serif;
}

.main-container {
  overflow:hidden;
  min-width: 100%;
  background: #fff;
}

.cover {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  max-width: 500px;
  border-right: 1px solid #b3b3b1;
}

.sky-blue-background {
  background: #95CAE4;
}

.cover-body {
  position:absolute;
  bottom: 0;
  padding: 50px 10% 10%;
  width: 100%;
  box-sizing: border-box;
}

.dark-gradient {
  background-image:linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
}

.cover-body-inner {
  position: relative;
  z-index: 100;
}

.cover-body-inner h1 {
  font-size:34px;
  margin-bottom: 12px;
  text-shadow:0 1px 3px rgba(0,0,0,0.3);
}

.cover-body-inner p {
  margin-top: 0px;
  text-shadow:0 1px 3px rgba(0,0,0,0.3);
}

.cover-body-inner hr {
  border: 1px solid #000;
}

.option-body {
  border-top:1px solid #000;
  padding-top: 20px;
}

.btn {
  font-size:16px;
  font-weight:normal;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:0px solid #dcdcdc;
  padding:9px 18px;
  text-decoration:none;
  background-color:#ededed;
  color:#777777;
  display:inline-block;
  text-shadow:1px 1px 0px #ffffff;
  -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
  -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
  box-shadow:inset 1px 1px 0px 0px #ffffff;
  transition: background-color 0.5s;
}
.btn:hover {
  background-color:#dfdfdf;
}
.btn:active {
  position:relative;
  top:1px;
}

.content-container {
  position: absolute;
  left: 30%;
}

.inner-content-container {
  width: 100%;
  padding: 50px 85px;
  max-width:810px;
}
