.new-post-container {
  border-top: 10px solid #95CAE4;
  border-bottom: 10px solid #95CAE4;
}

.create-post-form {
  padding: 5px 250px 5px 250px;
}

.create-post-form h1 {
  font-size: 3em;
}

.redact-config {
  height: 200px!important;
  width: 100%;
  border-left: 5px solid #95CAE4;
}

.post-wrapper-outer {
  padding-top: 120px;
  position: relative;
}

.post-wrapper-inner {
  margin: 0 auto;
  max-width:700px;
  position: relative;
  right: 0;
}

.post-aside {
  position: relative;
  width: 160px;
  margin-left: -230px;
  border-top: 0;
  padding-top: 0;
  float: left;
  text-align: right;
  position: fixed;
}

.post-aside-wrapper {
  display: block;
}

.post-content {
  font-size: 22px;
  line-height: 1.45;
}

.post-header {
  font-size: 35px;
}

.header_link {
  color: #000;
  transition: color 0.5s;
  text-decoration: none;
}

.header_link:hover {
  color: #999;
}

.edit-link {
  display: block;
}

.edit-link a {
  color:#999;
  font-style: italic;
  display: block;
  text-decoration: none;
  transition: color 0.5s;
}

.edit-link a:hover {
  color:#000;
}
