input {
  font-family: 'PT Sans', sans-serif;
}

textarea {
  font-family: 'PT Sans', sans-serif;
}

.form-container {
  border-top: 10px solid #95CAE4;
  border-bottom: 10px solid #95CAE4;
}

.form-header h1{
  text-align:center;
}

.create-form {
  margin: 0 auto;
  padding: 5px 250px 5px 250px;
}

.create-form h1 {
  font-size: 4em;
}

.user-input {
  width: 100%;
  display: block;
  padding: 7px;
  padding-left:15px;
  padding-top:10px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size:25px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 5px solid #95CAE4;
}

.btn-submit {
  background: #777!important;
  color: #fff;
  text-shadow: none;
  transition: background 0.5s;
}

.btn-submit:hover {
  background: #999!important;
  cursor: pointer;
}

.profile-outer-background {
  background: #3F5D7D;
}

.profile-inner-background {
  background: #fff;
}

.profile_container {
  text-align:center;
}

.edit-profile-container {
  border-top: 10px solid #95CAE4;
  padding: 5px 250px 5px 250px;
  border-bottom: 10px solid #95CAE4;
}
