<div class="main-container">
  <% if defined?(outerBackground) %>
  <aside class="cover <%= outerBackground %>">
  <% else %>
  <aside class="cover">
  <% end%>
    <% if defined?(innerBackground) %>
    <div class="cover-body <%= innerBackground %>">
    <% else %>
    <div class="cover-body">
    <% end %>
      <div class="cover-body-inner">
        <%= render partial: content %>
      </div>
    </div>
  </aside>
  <div class="content-container">
    <div class="inner-content-container">
      <%= render partial: posts %>
    </div>
  </div>
</div>
