<div class="main-container">
  <aside class="cover">
    <div class="cover-body">
      <div class="cover-body-inner">
        <%= render partial: content %>
      </div>
    </div>
  </aside>
</div>
